﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <a href="/Usuario/Login">Iniciar sesion</a>
    </h1>
    <br />
    <h1>
        <a href="/Usuario/Create">Crear usuario</a>
    </h1>
</div>
