﻿
@{
    ViewData["Title"] = "CompartirNota";
}

<h1>CompartirNota</h1>
<form action="/Usuario/CompartirNota" method="post">
    <label>Nota: </label>
    <select name="idNota">
        @foreach (var x in ViewBag.Notas)
        {
            <option value="@x.idNota">@x.titulo</option>
        }
    </select>
    <br />
    <label>Usuario: </label>
    <select name="idUsuario">
        @foreach (var x in ViewBag.Usuarios)
        {
            <option value="@x.idUsuario">@x.username</option>
        }
    </select>
    <br />
    <button type="submit"> Guardar </button>
</form>
