﻿
@{
    ViewData["Title"] = "CreateNota";
}

<h1>CreateNota</h1>

<form action="/Usuario/CreateNota" method="post">
    <label>Titulo: </label>
    <input name="titulo" type="text"/><br />
    <label>Contenido: </label>
    <input name="contenido" type="text" /><br />
    <button type="submit">Crear</button>
</form>

