﻿
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form action="/Usuario/Create" method="post">
    <label>Usuario: </label>
    <input name="username" type="text" />
    <br />
    <label>Password</label>
    <input name="passwd" type="password"/>
    <br />
    <label>RE-Password</label>
    <input name="repasswd" type="password"/>
    <br /><br />
    <button type="submit">Crear</button>
</form>
