﻿
@{
    ViewData["Title"] = "DetallesNota";
    Layout = null;
}

<h1>DetallesNota</h1>
<br />
<br />
<h3>Titulo: </h3>
<h4>@ViewBag.Nota.titulo</h4>
<br />
<h3>Contenido: </h3>
<h4>@ViewBag.Nota.contenido</h4>
<br />
<h3>Ultima fecha de mod: </h3>
<h4>@ViewBag.Nota.fechaMod</h4>
<br />
<h3>Etiquetas asociadas: </h3>
<h4>
    @foreach (var item in ViewBag.Nota.notaEtiquetas)
    {
        <label>    @item.etiqueta.nombre     </label>
    }
</h4>
<br />

<a href="EditarNota?idNota=@ViewBag.Nota.idNota">Editar</a>
<br />
<form action="/Usuario/EliminarNota" method="post">
    <input name="idNota" value="@ViewBag.Nota.idNota" hidden />
    <button type="submit">Eliminar</button>
</form>

<br />



