﻿
@{
    ViewData["Title"] = "EditarNota";

}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>


<h1>EditarNota</h1>

<form action="/Usuario/EditarNota" method="post">
    <input name="idNota" hidden value="@ViewBag.IdNota" />
    <label>Titulo: </label>
    <input name="titulo" value="@ViewBag.Nota.titulo" type="text" />
    <br />
    <label>Contenido: </label>
    <input name="contenido" value="@ViewBag.Nota.contenido" type="text" />
    <br />

    <br />
    <button type="submit">Guardar</button>
</form>
<label>Etiquetas: </label>
<br />

@if (ViewBag.Nota.notaEtiquetas.Count == 0)
{
    @foreach (var t in ViewBag.Etiquetas)
    {
        <label>@t.nombre</label>
        <form action="/Usuario/AgregarEtiqueta" method="post">
            <input value="@ViewBag.IdNota" hidden name="idNota" />
            <input value="@t.idEtiqueta" hidden name="idEtiqueta" />
            <button type="submit">Agregar etiqueta</button>
        </form>
    }
}
else
{

    @foreach (var t in ViewBag.Etiquetas)
    {
        

        @foreach (var z in ViewBag.Nota.notaEtiquetas)
        {
            @if (z.etiqueta.nombre == t.nombre)
            {
                
                <label>@t.nombre</label>
                <form action="/Usuario/QuitarEtiqueta" method="post">
                    <input value="@z.idNotaEtiqueta" hidden name="idNotaEtiqueta" />
                    <button type="submit">Quitar etiqueta</button>
                </form>

            }
            else
            {
                <label>@t.nombre</label>
                <form action="/Usuario/AgregarEtiqueta" method="post">
                    <input value="@ViewBag.IdNota" hidden name="idNota" />
                    <input value="@t.idEtiqueta" hidden name="idEtiqueta" />
                    <button type="submit">Agregar etiqueta</button>
                </form>
            }

        }
    }


    
<br />
<br />

}




    <br />

