﻿
@{
    ViewData["Title"] = "Index";

}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>


<h1>Index</h1>
<a href="/Usuario/CreateNota">Crear nueva nota</a>
@if (ViewBag.Notas.Count == 0)
{


    <h2>No cuenta con notas agregadas.</h2>
}
else
{<br />
    <a href="/Usuario/NotasCompartidas">Compartidas</a>
    <div class="col-4">
        @foreach (var x in ViewBag.Etiquetas)
        {
            <a href="/Usuario/VerNotas?idEtiqueta=@x.idEtiqueta">@x.nombre</a>
            <br />
        }
    </div>
    <div class="container">
        <br />

        <table name="example" id="example" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Contenido</th>
                    <th>Fecha ult. modif.</th>
                    <th>Etiquetas</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewBag.Notas)
                {
                    <tr>
                        <td>@item.titulo</td>
                        <td>@item.contenido.Substring(0, 50)</td>
                        <td>@item.fechaMod</td>
                        <td>
                            @foreach (var t in item.notaEtiquetas)
                            {
                                <label>     @t.etiqueta.nombre    </label>
                            }
                            <a href="/Usuario/DetallesNota?idNota=@item.idNota"> Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "searching": true // false to disable search (or any other option)
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
