﻿
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h1>Login</h1>

<form action="/Usuario/Login" method="post">
    <label>Usuario: </label>
    <input name="username" type="text"/>
    <br />
    <label>Password: </label>
    <input name="passwd" type="password"/>
    <br /><br />
    <button type="submit">Iniciar</button>
</form>