﻿
@{
    ViewData["Title"] = "NotasCompartidas";
}

<h1>NotasCompartidas</h1>
<a href="/Usuario/CompartirNota">Crear nota compartida</a>
@if (ViewBag.NotaCompartidas.Count == 0)
{
    <h2>No hay notas compartidas</h2>
}
else
{
<div class="col-8 container">
    <br />

    <table name="example" id="example" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Fecha ult. modif.</th>
                
            </tr>

        </thead>
        <tbody>
            @foreach (var item in ViewBag.NotaCompartidas)
            {
                <tr>
                    <td>@item.nota.titulo</td>
                    <td>@item.nota.contenido</td>
                    <td>@item.nota.fechaMod</td>
                    
                </tr>
            }
        </tbody>
    </table>

</div>
<h2>
    <a href="/Usuario/Index">Quitar filtros</a>
</h2>

<script>
        $(document).ready(function () {
            $('#example').DataTable({
                "searching": true // false to disable search (or any other option)
            });
            $('.dataTables_length').addClass('bs-select');
        });
</script>
}