﻿
@{
    ViewData["Title"] = "VerNotas";
    Layout = null;
}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>


<h1>VerNotas</h1>

@if (ViewBag.Notas.Count == 0)
{


    <h2>No cuenta con notas agregadas.</h2>
}
else
{
    <div class="col-4">
        @foreach (var x in ViewBag.Etiquetas)
        {
            <a href="/Usuario/VerNotas?idEtiqueta=@x.idEtiqueta">@x.nombre</a>
            <br />
        }
    </div>
    <div class="col-8 container">
        <br />

        <table id="example" class=" table-bordered">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Contenido</th>
                    <th>Fecha ult. modif.</th>
                    <th>Etiquetas</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewBag.Notas)
                {
                
                <tr>
                    <td>@item.nota.titulo</td>
                    <td>@item.nota.contenido.Substring(0, 50)</td>
                    <td>@item.nota.fechaMod</td>
                    <td>
                        @foreach (var t in item.nota.notaEtiquetas)
                        {
                            <label>     @t.etiqueta.nombre    </label>
                        }
                    </td>
                    <td>
                        <a href="DetallesNota?idNota=@item.nota.idNota">Detalles</a>
                    </td>
                    

                </tr>
                
                }
            </tbody>
        </table>

    </div>
    <h2>
        <a href="/Usuario/Index">Quitar filtros</a>
    </h2>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "searching": true // false to disable search (or any other option)
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
